@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Oswald:wght@200..700&display=swap');


h1 {
  font-family: "Oswald", serif;
}

body {

  font-family: Arial, sans-serif;

  margin: 0;

  padding: 0;

}

header {

  background-color: #333;

  color: #fff;

  padding: 0px 20px;

  display: flex;

  justify-content: space-between;

  align-items: center;

}

.product a {

  text-decoration: none;

  color: black;

}

#hero {

  text-align: center;

  background-color: #f4f4f4;

  padding: 20px;

}

#catalog h2 {

  text-align: center;
  font-size: 40px;

}

#products, #cart {

  padding: 20px;

}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.product {

  border: 1px solid #ddd;

  padding: 10px;

  margin: 10px;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  text-align: center;

  width: 100%;
  max-width: 250px;
  
  height: 230px;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.product h3 {
    text-align: center;
    color: white;
    font-size: 30px;
}

.product img {
    width: 100%;
    max-width: 100px;
    height: auto;
}

/* PRODUCTOS */

.product.negocio,
.product.kiosco,
.product.ropa,
.product.verduleria,
.product.carniceria,
.product.panaderia,
.product.ferreteria,
.product.roticeria,
.product.lavaderos,
.product.mecanicos,
.product.gimnasio,
.product.bicicleterias {
    font-family: "Oswald", serif;
    background-size: cover;
    background-position: center;
    color: white; /* Asegura que el texto sea blanco */
    position: relative;
}

.product.negocio {
    background-image: url('img/negocio.jpg');
}

.product.kiosco {
    background-image: url('img/Kioscos.jpg');
}

.product.ropa {
    background-image: url('img/ropa.jpg');
}

.product.verduleria {
    background-image: url('img/verduleria.jpg');
}

.product.carniceria {
    background-image: url('img/carniceria.jpg');
}

.product.panaderia {
    background-image: url('img/panaderia.jpg');
}

.product.ferreteria {
    background-image: url('img/ferreteria.jpg');
}

.product.roticeria {
    background-image: url('img/Roticeria.jpg');
}

.product.lavaderos {
    background-image: url('img/lavadero.jpg');
}

.product.mecanicos {
    background-image: url('img/mecanico.jpg');
}

.product.gimnasio {
    font-family: "Oswald", serif;
    background-image: url('img/gimnasio.jpg');
    background-size: cover;
    background-position: center;
    color: white; /* Asegura que el texto sea blanco */
    position: relative;
}

.product.bicicleterias {
    background-image: url('img/bicicleteria.jpg');
}

.product img {
    display: none; /* Oculta la imagen original */
}

.product .text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    color: white;
    padding: 73px;
    text-align: center;
}

@media (max-width: 600px) {
    .product {
        max-width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .product {
        max-width: 45%;
    }
}

@media (min-width: 1025px) {
    .product {
        max-width: 30%;
    }
}

footer {

  text-align: center;

  padding: 10px;

  background-color: #333;

  color: #fff;

}

